:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --dark-gray: hsl(234, 12%, 34%);
    --gray: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-wrap: pretty;
}

body {
    background-color: var(--light-gray);
}

header {
    text-align: center;
    margin: 1.5rem;
}

header h1 {
    font-weight: 400;
    font-size: 1.5rem;
}

header h1 span {
    font-weight: 600;
}

header p {
    margin-top: 1rem;
    color: var(--gray)
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card {
    margin-inline: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.green {
    border-top: 5px solid var(--cyan);
}

.red {
    border-top: 5px solid var(--red);
}

.yellow {
    border-top: 5px solid var(--orange);
}

.blue {
    border-top: 5px solid var(--blue);
}

.content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.content h2 {
    font-size: 1.2rem;
}

.content p {
    color: var(--gray);
    line-height: 1.6rem;
    font-size: .9rem;
    margin-top: .3rem;
}

.content img {
    margin-top: 1.3rem;
    width: 70px;
    margin-left: auto;
    padding-right: 1rem;
}


@media (width >= 1024px) {
    header {
        width: 500px;
        display: block;
        margin: 2.5rem auto
    }

    header h1 {
        width: 400px;
        display: block;
        margin: 0 auto
    }

    header p {
        color: var(--gray)
    }

    .card {
        width: 280px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .green {
        transform: translateY(50%);
    }

    .yellow {
        transform: translateY(112%) translatex(-117%);
    }

    .blue {
        transform: translateY(-62%) translateX(117%);
    }
}